! Colour and font settings

! actual foreground/background of x windows
*foreground: #ffffff
*background: #000000

Xft.autohint: 1
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
!Xft.dpi: 72

!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #ffffff
xscreensaver.Dialog.background:         #111111
xscreensaver.Dialog.topShadowColor:     #111111
xscreensaver.Dialog.bottomShadowColor:  #111111
xscreensaver.Dialog.Button.foreground:  #666666
xscreensaver.Dialog.Button.background:  #ffffff

! Detailed list of colours: for x in {0..8}; do for i in {30..37}; do for a in {40..47}; do echo -ne "\e[$x;$i;$a""m\\\e[$x;$i;$a""m\e[0;37;40m "; done; echo; done; done; echo ""
! Detailed list of colours 2: for code in {0..255}; do echo -e "\e[38;05;${code}m $code: Test"; done
! Colors

!#define moomincore0  #142043
#define moomincore0  #00001A
#define moomincore1  #A2003F
#define moomincore2  #00807F
#define moomincore3  #FBBA56
#define moomincore4  #00C777
#define moomincore5  #DC8CC3
#define moomincore6  #74D7EC
#define moomincore7  #DFA8FF
#define moomincore8  #766D7F
#define moomincore9  #F62BED
#define moomincore10 #F93483
#define moomincore11 #F5A2BB
#define moomincore12 #00B3B3
#define moomincore13 #FF6666
#define moomincore14 #735787
#define moomincore15 #FFFFFF

! URxvt stuff:

/* URxvt.color0: moomincore0 */
/* URxvt.color1: moomincore1 */
/* URxvt.color2: moomincore2 */
/* URxvt.color3: moomincore3 */
/* URxvt.color4: moomincore4 */
/* URxvt.color5: moomincore5 */
/* URxvt.color6: moomincore6 */
/* URxvt.color7: moomincore7 */
/* URxvt.color8: moomincore8 */
/* URxvt.color9: moomincore9 */
/* URxvt.color10: moomincore10 */
/* URxvt.color11: moomincore11 */
/* URxvt.color12: moomincore12 */
/* URxvt.color13: moomincore13 */
/* URxvt.color14: moomincore14 */
/* URxvt.color15: moomincore15 */

URxvt.cursorColor: #ff0000
URxvt.cursorColor2: #61f2b6

URxvt.cursorBlink:true
URxvt.cursorUnderline:false

! Tranparency (composite)
! urxvt*depth: 4
urxvt*background:#08000D

! Fake transparency
!urxvt*transparent: true
!urxvt*shading:9

! Geometry
!URxvt*geometry:  240x84
URxvt*borderless:true
!URxvt.borderColor: #003333
!URxvt.internalBorder: 0
!URxvt.externalBorder: 1

URxvt.iconFile:/usr/share/icons/Papirus-Dark/32x32/apps/utilities-x-terminal.svg

! Perl extensions
URxvt.perl-ext-common:default,matcher,selection-to-clipboard,searchable-scrollback,resize-font,vtwheel

! Tabbed
! Comment out line 369 thru 383 to disable switching tab index with CTRL
URxvt*tabbed.new-button:False

! Tabbed colour scheme
URxvt*tabbed.tabbar-fg:8
URxvt*tabbed.tabbar-bg:0
URxvt*tabbed.tab-fg:6
URxvt*tabbed.tab-bg:0

! Matcher
URxvt.matcher.button:3
URxvt.keysym.M-m: perl:matcher:list
URxvt.underlineColor:  red
URxvt.url-launcher: firefox

URxvt*scrollBar:false
URxvt*searchable-scrollback:C-S-F
! Manual claims this is deprecated, but it works, unlike URxvt*keysym.C-f:searchable-scrollback:start

! ctrl up, ctrl down to scroll by line
URxvt.keysym.C-K: command:\033]720;1\007
URxvt.keysym.C-J: command:\033]721;1\007

! Fade text a bit when not focused
URxvt*fading:30
URxvt*fadeColor: #111111

! Do not scroll to bottom if tty receives output
URxvt*scrollTtyOutput:false
URxvt*scrollWithBuffer:true
URxvt*scrollTtyKeypress:true

! https://stackoverflow.com/questions/39884093
! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:

! Bind Ctrl-Shift-c & Ctrl-Shift-v to copy and paste
! I dont know why, but I needed to use hex keysym values to get it to work
URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard

! Save lines. Set to 0 if using tmux
URxvt*saveLines:60000

! Start as a login shell by prepending a - to argv[0] of the shell.
URxvt*loginShell:true

!## Disable ISO 14755 mode so we can use C-S-Left and C-S-Right to move windows/tabs in tmux
URxvt*iso14755:False
URxvt*iso14755_52:False


!Fonts
! `fc-list -v | grep -i <fontname>`
URxvt.allow_bold: true
!URxvt.letterSpace: -1
URxvt.lineSpace: -1

! Terminus font under 14px did not have bold typeface by default
! see https://bbs.archlinux.org/viewtopic.php?id=95199 for fix

/* URxvt.font:xft:Terminus:size=12 */
/* URxvt.boldFont:xft:Terminus:size=12:weight=bold */
/* URxvt.italicFont:xft:Terminus:size=12:weight=oblique */

/* URxvt.font:xft:Hack:size=10 */
/* URxvt.italicFont:xft:Hack:italic:size=10 */
/* URxvt.boldFont:xft:Hack:bold:size=10 */

URxvt.font:xft:IBM Plex Mono:size=10
URxvt.italicFont:xft:IBM Plex Mono:italic:size=10
URxvt.boldFont:xft:IBM Plex Mono:bold:size=10

! read: /usr/share/doc/envypn-font/README
!URxvt*font: envypn-13
!URxvt*font:-*-envypn-Medium-R-*-*-15-*-*-*-*-*-ISO8859-1
!URxvt*font:xft:envypn:pixelsize=18

! Resize font
! https://github.com/simmel/urxvt-resize-font/blob/master/resize-font
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
!URxvt.keysym.C-question:  resize-font:show

URxvt.resize-font.step: 2
